body{
	margin:0px;
	font-family: Verdana,sans-serif;
	font-size:15px;
	line-height:1.5;
	background-color:whitesmoke;	
}
/*Announcment Bar on Index Page*/
.marquee {
  position: relative;
  overflow: hidden;
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
   background: #ff0000;
}

.marquee-keywords-red {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    font-weight: bold;
}

.marquee-keywords-red span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee-keywords 30s linear infinite;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-family: var(--heading-font-family);
    animation-delay: -10s;
}
@keyframes marquee-keywords {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


/* Header with Logo */
.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.logo{
	font-family:'Magneto';
	font-size:200%;
	min-height:10px;
	align-items:flex-start;
}

/*Search Bar right top */
.searchglass {
  width: 80%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0099ff;
  border-right: none;
  padding: 10px;
  height: 41px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #0099ff;
}

.searchButton {
  width: 40px;
  height: 41px;
  border: 3px solid #0099ff;
  background: #0099ff;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 25px;
}

.wrap{
  width: 15%;
  position: absolute;
  top: 8%;
  left: 75%;

}
/* Navbar */
.navbar-box{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	margin:0;
	padding:0;
	top:0;
	z-index: 9999;	
	background-color:#225d5a;
	font-size: 20px;
	text-decoration: none;
}

.active {
  background-color: #33adff;
}

.header2{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content:flex-start;
}



.openBtn{	
	background:#99d6ff;
}


.overlay .closebtn:hover {
  color: #ccc;
}


.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/*Container under Navibar:*/
.spaceunder{
	max-width: 2000px;
	margin: 40px auto 0 auto;
	padding: 20px 50px;
	flex-wrap:wrap;
	display: flex;
}
h4{
	color: #6666ff;;
}
/*Index Page*/
.leftcolumn{
	align-content:center;
	width:20%
}
.midcolumn{
	width:60%;
	margin:0;
	padding-left:5px;
	padding-right:5px;
}
.socialcolumn{
	height:505px;
	width:18%;
	border:1px solid #ccc;
	overflow:auto;
	margin-top: 1px;
}
@media only screen and (max-width: 1000px) {
    .maincontainer{
        display:flex;
    }
    .leftcolumn, .socialcolumn{
        flex:1;
        flex-basis:50%;
    }
    .midcolumn{
        flex:1;
        flex-basis:100%;
    }
}
/*for mobile phone screen*/
@media only screen and (max-width: 780px) {
    .maincontainer{
        display:flex;
    }
    .leftcolumn, .socialcolumn{
        flex:1;
        flex-basis:100%;
    }
    .midcolumn{
        flex:1;
        flex-basis:100%;
    }
}
.welcome{
	justify-content: center;
	text-align: left;	
	align-items:center;
	border-top: 4px dotted blue;
	border-bottom: 4px dotted blue;
}
.welcome_text{
	font-family: 'Magneto';
	font-size:45px;
  align-self: center;
	line-height:1.5;
	color: blue;
}
.row {
	margin: 0 5px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
  }
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	text-align: center;
	background-color: #f1f2f3;
  }

/*Reviews*/
.container-revs{
	display:flex;
	align-self:center;
	flex-basis:80%;
	margin:0;
}
.accordion-header{
	text-decoration-color: black;
	font-weight:bold;
	font-size: large;
}
.checked{
	color:goldenrod;
}
/* Contact us icon */
.box-1{
	text-align: center;
	flex:1;
	order: 1;
}
/* Location icon */
.box-2{
	text-align: center;
	flex:1;
	order: 2;	
}
/* Clock icon */
.box-3{
	text-align: center;
	flex:1;
	margin: 0 auto;
	order: 3;	
}
/* Get in touch Form Box*/
.secondunder{
	display:flex;
	flex-wrap:wrap;
	padding:10px
}
.get-form{
	text-align: center;
	flex:1;
	order:1;
	align-self: flex-start;
	margin: 20px;
    border-width:5px;  
    border-style:ridge;
	border-color: #4da6ff;
}
.formbutton {
  background-color: #0099ff;
  color: white;
  border: black;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #999999;
  display: inline-block;
  margin: 8px 0;
}
.formbutton:hover {
  opacity: 0.5;
}
/* Map Box */
.map{
	text-align: center;
	flex:1;
	order:2;
	border-width:5px;  
    border-style:ridge;
	border-color: #4da6ff;
}
@media only screen and (max-width: 780px) {
    .map{
        width:50%;
    }
}
/* Get in touch form and newsletter */
.formstyle{
	width:50%;
	height:40px;
	background-color:#cce0ff;
	border-radius: 8px 8px 8px 8px;	
}	
/* Footer */
.footer-container{
	display:flex;
	background-color: #0e2524;
	flex-wrap: wrap; 
	text-align: center;
	justify-content:center;
	align-items:center;
	color: white;
}
/* Left side of the footer */
.footer1{
	padding: 10px;
	flex:1;	
	order:1;
	border-right: 1px #ccc solid;
}
.foot2{
	color:white;
	text-decoration:none;
}
.foot2:hover{
	color:#333333;
	text-decoration: underline;
}
/* Middle of the footer */
.footer2{
	padding: 10px;
	flex:1;	
	order:2;	
}
.title1{
	color: white;
}
.social-icon{
	color:white;
	text-decoration:none;
}
.social-icon:hover{
	color:#008ae6;
}
/*Right side of the footer - newsletter*/
.footer3{
	padding: 10px;
	flex: 1;
	order:3;
	border-left: 1px #ccc solid;	
}
.newsletter {
  padding: 5px;
}

/*Button*/
.footer4{
	padding: 10px;
	flex: 80%;	
}
.footer5{
	padding: 10px;
	flex: 20%;	
}


/* Submit button*/ 
.subbutton {
  background-color: #005ce6;
  color: white;
  border: none;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 8px 0;
}

.subbutton:hover {
  opacity: 0.8;
}
p{
	color: rgb(110, 105, 105);
}


/*Gallery page*/
/* The grid: Four equal columns that floats next to each other */
.column {
	float: left;
	width: 25%;
	padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
	opacity: 0.8;
	cursor: pointer;
  }
  
  .column img:hover {
	opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .img-container {
	position: relative;
	display: none;
  margin:auto;
  width:60%;
  }
  .hidden{
    width:20%;
  }
  /* Expanding image text */
  #imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
  }

/*Calendar*/
  /*background: #1abc9c;*/

/* Events display*/
.events-container {
    overflow-y: scroll;
    height: 100%;
    float: right;
    margin: 0px auto; 
    font: 20px Helvetica, Arial, sans-serif; 
    display: inline-block; 
    padding: 0 10px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.events-container:after{
    clear:both;
}
.event-card {
    padding: 20px 0;
    width: 100%;
    margin: 20px auto;
    display: block;
    background: #fff;
    border-left: 10px solid #1abc9c;
    border-radius: 1px;
    box-shadow: 1px 4px 8px greenyellow, 0 2px 2px rgba(103, 211, 103, 0.945);
    -moz-box-shadow: 1px 4px 8px greenyellow, 0 2px 2px rgba(103, 211, 103, 0.945);
    -webkit-box-shadow: 1px 4px 8px greenyellow, 0 2px 2px rgba(103, 211, 103, 0.945);
}
.event-count, .event-name, .event-cancelled {
    display: inline;
    padding: 0 10px;
    font-size: 1rem;
}
.event-count {
    color: #1abc9c;
    text-align: right;
}
.event-name {
    padding-right:0;
    text-align: left;
}
.event-cancelled {
    color: #FF1744;
    text-align: right;
}

/*  Calendar wrapper */
.calendar-container  { 
    float: left;
    position:relative;
    margin: 1px; 
    height: 100%;
    background: #fff;
    font: 13px Helvetica, Arial, san-serif; 
    display: inline-block; 
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.calendar-container:after{
    clear:both;
}
.calendar {
    display: table;
}

/* Calendar Header */
.year-header { 
    background: #1abc9c;
    background: -moz-linear-gradient(left,  #1abc9c 0%, #225d5a 80%, #225d5a 100%);
    background: -webkit-linear-gradient(left,  #1abc9c 0%, #225d5a 80%, #225d5a 100%);
    background: linear-gradient(to right,  #1abc9c 0%, #225d5a 80%, #225d5a 100%);    
    font-family: Helvetica;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 40px; 
    text-align: center;
    position: relative; 
    color:#fff; 
    border-top-left-radius: 3px;
} 
.year-header span { 
    display:inline-block; 
    font-size: 20px;
    line-height:40px; 
}
.cal-left-button, .cal-right-button { 
    cursor: pointer;
    width:28px; 
    text-align:center; 
    position:relative; 
} 
.cal-left-button { 
    left:0; 
    -webkit-border-top-left-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    border-top-left-radius: 5px; 
} 
.cal-right-button { 
    right:0; 
    top:0; 
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px; 
} 
.cal-left-button:hover {
    background: #3FADFF;
}
.cal-right-button:hover { 
    background: #00C1FF;
}

/*Buttons */
.cal-button{
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.65rem 1.9rem;
    transition: .2s ease all;
    color: white;
    border: none;
    box-shadow: -1px 10px 20px #9BC6FD;
    background: #1abc9c;
    background: -moz-linear-gradient(left,  #1abc9c 0%, #225d5a 80%, #225d5a 100%);
    background: -webkit-linear-gradient(left,  #1abc9c 0%, #225d5a 80%, #225d5a 100%);
    background: linear-gradient(to right,  #1abc9c 0%, #225d5a 80%, #225d5a 100%);
}

/* Days/months tables */
.days-table, .dates-table, .months-table { 
    border-collapse:separate; 
    text-align: center;
} 
.day { 
    height: 26px;
    width: 26px;
    padding: 0 10px;
    line-height: 26px; 
    border: 2px solid transparent;
    text-transform:uppercase; 
    font-size:90%; 
    color:#9e9e9e; 
} 
.month {
    cursor: default;
    height: 26px;
    width: 26px;
    padding: 0 2px;
    padding-top:10px;
    line-height: 26px; 
    text-transform:uppercase; 
    font-size: 11px; 
    color:#9e9e9e; 
    transition: all 250ms;
}
.active-month {
    font-weight: bold;
    font-size: 14px;
    color: #1abc9c;
    text-shadow: 0 1px 4px greenyellow;
}
.month:hover {
    color: #225d5a;
    text-shadow: 0 1px 4px greenyellow;
}

/*  Dates table */
.table-date {
    cursor: default;
    color:#2b2b2b; 
    height:26px;
    width: 26px;
    font-size: 15px;
    padding: 10px;
    line-height:26px; 
    text-align:center; 
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 250ms;
}
.table-date:not(.nil):hover { 
    border-color: #225d5a;
    box-shadow: 0 2px 6px RGBA(255, 50, 120, .9);
}
.event-date {
    border-color:#1abc9c;
    box-shadow: 0 2px 8px rgba(103, 211, 103, 0.945);
}
.active-date{ 
    background: #1abc9c;
    box-shadow: 0 2px 8px rgba(103, 211, 103, 0.945);
    color: #fff;
}
.event-date.active-date {
    background: #1abc9c;
    box-shadow: 0 2px 8px rgba(103, 211, 103, 0.945);
}

/*/ Tablets and smaller */
@media only screen and (max-width: 780px) {
    .content {
        overflow: visible;
        position:relative;
        max-width: 100%;
        width: 370px;
        height: 100%;
        background: #1abc9c;
        background: -moz-linear-gradient(left,  #1abc9c 0%, #225d5a 80%, #225d5a 100%);
        background: -webkit-linear-gradient(left,  #1abc9c 0%, #225d5a 80%, #225d5a 100%);
        background: linear-gradient(to right,  #1abc9c 0%, #225d5a 80%, #225d5a 100%);  
    }
    .dialog {
        width:370px;
        height: 450px;
        border-radius: 3px;
        top:0;
        left:0;
    }
    .events-container {
        float:none;
        overflow: visible;
        margin: 0 auto;
        padding: 0;
        display: block;
        left: 0;
        border-radius: 3px;
    }

    .calendar-container {
        float: none;
        padding: 0;
        margin: 0 auto;
        margin-right: 0;
        display: block;
        left: 0;
        border-radius: 3px;
        box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        -webkit-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}

/* Small phone screens */
@media only screen and (max-width: 400px) {
    .content, .events-container, .year-header, .calendar-container {
        width: 320px;
    }
    .dialog {
        width: 320px;
    }
    .months-table {
        display: block;
        margin: 0 auto;
        width: 320px;
    }
    .event-card {
        width: 300px;
    }
    .day {
        padding: 0 7px;
    }
    .month {
        display: inline-block;
        padding: 10px 10px;
        font-size: .8rem;
    }
    .table-date {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .event-name, .event-count, .event-cancelled {
        font-size: .8rem;
    }
    .add-button{
        bottom: 10px;
        right: 10px;
        padding: 0.5rem 1.5rem;
    }
} 

/*About page*/
/*Modal of Image with 2 woman*/
#womanImg {
    cursor: pointer;
}

#womanImg:hover {opacity: 0.7;}

.modalBackgd {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.contModal {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 600px;
}

#captModal {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #66c2ff;
    padding: 10px 0;
    height: 150px;
}

.contModal, #captModal {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.clModal {
    position: absolute;
    top: 55px;
    right: 45px;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
	color: #66c2ff;
}

.clModal:hover, .clModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .contModal {
        width: 100%;
    }
}
#box-1{
	display: -webkit-box;  /* OLD - iOS 6-, Safari */
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.box-inside1{
	flex:1;
	justify-content: center;

}
.picture1 {
  width: 100%;
  height: auto;
}

.about{
	justify-content: center;
	text-align: center;	
	align-items:center;
	border-bottom: 4px dotted blue;
}
.about_text{
	font-family: 'Magneto';
	font-size:45px;
	line-height:1.5;
	color: blue;
}
.about_text1{
	font-size:25px;
	line-height:1.5;
	color: black;
}
.wom_box{
	border-bottom: 4px dotted blue;
}

/*Go to top Button*/
.topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #225d5a;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.topBtn:hover {
  background-color: #555;
}